{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script src="{{ url_for('static', filename='static/jquery.js') }}"></script>
<script src="app/static/scripts.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
      <!--Flash message -->
      {% for message in get_flashed_messages() %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
      <!-- Login form -->

      <!-- {{login_form.csrf_token}}
      {{login_form.username}}
      {{login_form.password}}
      {{login_form.submit}} -->




      {{wtf.quick_form(login_form)}}
      <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>

      <div clas="col-md-2"> </div>
    </div>

  </div>
  <script>
    $('#modal-confirm').click(function () {
      // Perform the action after modal confirm button is clicked.

      $('#form-submit').click(); // submitting the form
    });
  </script>

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <form action="{{  url_for('auth.login')  }}" method="POST">
            <div class="md-form mb-5">
              {{wtf.form_field(login_form.username)}}
            </div>

            <div class="md-form mb-4">
              {{wtf.form_field(login_form.password)}}
            </div>

          </div>
          <div class="modal-footer d-flex justify-content-center">
            {{login_form.submit(hidden='true', id='form-submit')}}
            <button type="button" class="btn btn-primary" id="modal-confirm">Sign in</button>
          </div>
        </form>
        </div>
      </div>
    </div>

  <div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch
      Modal Login Form</a>
  </div>


  {% endblock%}