{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% block navbar %}
{% include 'navbar.html'%}
{%endblock%}

{% block content%}

<style>
    .footer{
    background-color: #023047;
    color: white;
}
</style>

<div class="container-fluid" style="background-image: url('https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');background-repeat:no-repeat; background-size:cover; background-position:center center;">
    <div class="container">
        <div class="row" style="margin-top:70px;">
            <div class="jumbotron">
                {{wtf.quick_form(comment_form)}}
            </div>
        </div>
        <h4 style="color: honeydew; font-size: larger; font-style: italic;">Click on comment button twice to display your comment</h4>
        <hr>
        <h1 class="text text-center text-success" style="color:#219ebc">Feedback</h1>
        
        {% if descriptions %}
        {% for description in descriptions %}
       
        <div class="panel" style="margin-left: 20pxpx;">
            <h3>Hello: this is {{description.name}} from the department of {{description.department}}</h3>
            <p style="font-family: Pangolin; font-size: large; font-weight: bold;">{{ description.description }}</p>
            <p style="font-style: italic; font-size: large;">{{description.date_posted.date()}} at {{description.date_posted.time()}}</p>
            <button class="btn btn-info"> <a href="{{url_for('main.deleteComment',id=description.id)}}" style="font-size: 25px; color: honeydew;">Delete Response</a></button>
        <hr>
        {% endfor %}
        {% else %}
        <h3 style="color:white">Please provide some feedback on the above issue</h3>
        {%endif%}
    </div>   
</div>


<!-- Footer start -->
<footer class="footer">
    <div class="container footerInfo ">
        <div class="row ">
            <div class="col-md-4 col1">
                <h5>Help Desk Services</h5>
                <p>Exam cards</p>
                <p>Missing marks</p>
                <p>Feees</p>
                <p>Courses</p>
                <p>Health</p>
            </div>
            <div class="col-md-4 col2">
                <h5>Departments</h5>
                <p>Adminstaration</p>
                <p>Finance</p>
                <p>Academics</p>
                <p>Student Affairs</p>
                <p>Health</p>
                <p>Counselling/p>
                <p>Hostels</p>

            </div>
            <div class="col-md-4 col3">
                <h5>Reach out to us</h5>
                <p>+2547 000 000</p>
                <p>support@helpdesk.co.org</p>
                <div id="socialIcons">
                    <!-- <a href="https://touch.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/" class="fa fa-twitter"></a>
                    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/" class="fa fa-pinterest"></a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center copyright">
        <p>User Terms of Service | Help Desk Terms of Service | Pricing terms | Privacy policy | About us | FAQ |
            Contact <br>© helpdesk Ltd 2021.</p>
    </div>
</footer>
<!-- Footer end -->
{% endblock %}